.bundle
.DS_Store
.project
.sass-cache/
public/system/images/*
webrat.log
db/*.sqlite3
log/*.log
tmp/**/*
tmp/
*.tmproj
*.swp
*.swo
*~
spec/javascripts/generated/**/*
public/assets/**/*
test/ldap/openldap-data/
