%h1 Manage Categories

= link_to "New Category", new_admin_category_path, :class => "button"

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td
          = link_to "Edit", edit_admin_category_path(category)
          = link_to "Delete", admin_category_path(category), :remote => true, :method => :delete, :confirm => "Are you sure you want to delete this category? You will need to give its current projects new categories." 
