// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages .content , #projects .content {
  margin-left: 40px; margin-right:40px;
}


.vote-box{
  padding:10px 15px; background: #eee; margin-bottom:10px;
  border-radius:4px; overflow:auto;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  .vote-count{
    float:left;
  }
  .vote-button{
    float:right;
  }
}

.category-label{
  h1,h2{

  }
}
ul.projects{

}
