#sg-header {
  width: auto !important;
  float: right !important;
  border-top: none !important;
}

#sg-header-inner ul {
  float: right !important;
}

.page-header {
  margin-top: 0px;
}

#sg-connect-icons {
  display: none !important;
}
